################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/cntFileBits/.vs/cntFileBits/v15/Browse.VC.opendb
